<% if !user_signed_in? %>
    <div class="jumbotron">
        <h2>Las películas que te gusta ver</h2>
        <p><!-- start slipsum code -->
          - Déjenme hacerles una pregunta. ¿Y si no hubiera un mañana?<br>
          - ¿Si no hubiera un mañana? Entonces no habría consecuencias. No tendría resaca.<br>
          - Podríamos hacer lo que quisiéramos.<br>
          <p><i><a href="http://www.imdb.com/title/tt0107048/?ref_=fn_al_tt_1" target="_new">Atrapado en el tiempo</a></i> (1993)</p>
        <!-- please do not remove this line -->
        <div style="display:none;">
        <a href="http://slipsum.com">lorem ipsum</a></div>
        <!-- end slipsum code -->
        </p>
        <p><%= link_to "Registrarse", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "Login", new_user_session_path, class: 'btn btn-primary btn-lg'  %></p>
    </div>
<% end %>

<% if @movies %>
  <div id="peli" class="row lista-pelis">  
      <% @movies.each do |movie| %>
          <div class="col-md-12">
            <h2><%= movie.title %></h2>
            <p>Estreno el <% if movie.fechaestreno != nil %>
                            <%= movie.fechaestreno.strftime("%d-%m-%Y") %>
                          <% else %>
                             <%= 'Sin fecha de estreno' %>
                          <% end %>
            </p>
            <%= link_to (image_tag movie.image.url, class: 'img-responsive'), movie %>
          </div>
      <% end %>
  </div> <!-- row -->      

<% else %>
  <div class="col-md-3">
    No Movies in the DB yet.
  </div>
<% end %>
