<% if !user_signed_in? %>
    <div class="jumbotron">
        <h2>Las películas que te gusta ver</h2>
        <p><!-- start slipsum code -->
          - Déjenme hacerles una pregunta. ¿Y si no hubiera un mañana?<br>
          - ¿Si no hubiera un mañana? Entonces no habría consecuencias. No tendría resaca.<br>
          - Podríamos hacer lo que quisiéramos.<br>
          <p><i><a href="http://www.imdb.com/title/tt0107048/?ref_=fn_al_tt_1" target="_new">Atrapado en el tiempo</a></i> (1993)</p>
        <!-- please do not remove this line -->
        <div style="display:none;">
        <a href="http://slipsum.com">lorem ipsum</a></div>
        <!-- end slipsum code -->
        </p>
        <p><%= link_to "Registrarse", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "Login", new_user_session_path, class: 'btn btn-primary btn-lg'  %></p>
    </div>
<% end %>

  <div id="peli" class="row lista-pelis">  
      <% @movies.each do |movie| %>
          <div class="col-md-4">
            <%= link_to (image_tag movie.image.url, class: 'img-responsive'), movie %>
          </div>
      <% end %>
  </div> <!-- row -->      

<!--
<div class="col-md-4">
    <h3><%= movie.title %></h3>
    <h4></h4>
    <p>Sinopsis: <%= movie.description %></p>
    <p>Duración: <%= movie.movie_length %></p>
    <p>Fecha de estreno: <%= movie.fechaestreno %></p>
    <p>
      <button class="btn btn-primary" href="<%= link_to movie %>"></button>
    </p>
</div>
-->