<div clas="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <%= image_tag @movie.image.url(:medium) %>
                <div class="star-rating" data-score= <%= @avg_review %>></div>
                <em><%= "#{@reviews.length} reviews" %></em>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Title</strong></td>
                                <td><%= @movie.title %></td>
                            </tr>
                            <tr>
                                <td><strong>Description</strong></td>
                                <td><%= @movie.description %></td>
                            </tr>
                            <tr>
                                <td><strong>Length</strong></td>
                                <td><%= @movie.movie_length %></td>
                            </tr>
                            <tr>
                                <td><strong>Fecha estreno</strong></td>
                                <td><%= @movie.fechaestreno %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5 col-offset-1">
                <h2 class="review_title"><%= @movie.title %></h2>
                <p><%= @movie.description %></p>

                <% if @reviews.blank? %>
                <h3>No hay comentarios</h3>
                <p>¿Quieres comentar y puntuar la peli?. Adelante !</p>
                <%= link_to 'Puntuar la peli', new_movie_review_path(@movie), class: "btn btn-success" %>
                <% else %>
                    <% @reviews.each do |review| %>
                    <div class="reviews">
                        <div class="star-rating" data-score='<%= review.rating %>'></div>
                        <p><%= review.comment %></p>
                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<%= link_to 'Borrar peli', @movie, method: :delete, data: { confirm: '¿Est&aacute;s seguro ?'}, class:'btn btn-link' %>
<%= link_to 'Editar', edit_movie_path(@movie), class:'btn btn-link' %> |
<%= link_to 'Volver', movies_path, class:'btn btn-link' %>

<script type="text/javascript">
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
</script>
